@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root {
    --boy1: #E8F8FF;
    --boy2: #B4DCED;
    --boy3: #91C9E8;
    --boy4: #67B8DE;
    --boy5: #3399CC;

    --girl1: #F2F2F2;
    --girl2: #F29494;
    --girl3: #A63B32;
    --girl4: #D94E41;
    --girl5: #F2B3BF;

    --fonte-manuscrito: 'Great Vibes', cursive;
    

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--boy1);
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: var(--boy3);
    min-height: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--boy3);
    border-radius: 5px;
    padding: 2px;
}

nav a:hover {
    text-decoration: underline;
    color: var(--boy5);
}

main {
    background-color: var(--boy3);
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--boy3);
}

main img {
    width: 100%;
    border-radius: 5px;
}

main h1 {
    color: var(--boy1);
    size: 2em;
}

.img {
    display: block;
    margin: auto;
}

picture {
    border-radius: 20px;
}

.lista {
    list-style-position: inside;
}

.carta > p {
    font-family: var(--fonte-manuscrito);
    font-size: 2em;
    padding-top: 5PX;
}

footer {
    background-color: var(--boy4);
    padding-top: 10px;
    padding-bottom: 10PX;
    text-align: center;
}